%h3.title Podkategorie:
- for subcategory_game in @category_game.subcategory_games 
  %h2.title
    = link_to "#{subcategory_game.name} (#{subcategory_game.games.length})", subcategory_game_path(subcategory_game)
%h3.title Gry:
- for game in @games 
  .post
  %h2.title
    = link_to game.name, game_path(game)
    - unless game.product.pictures.blank?
      %br/
      = image_tag game.product.pictures.first.photo.url(:thumb)
    %p.tekst-1strona
      gatunek gry: #{game.game_type}
      %br/
      opis: #{truncate(game.description, :length => 20, :separator => ' ', :ommission => "...")}
      %br/
      cena: #{number_to_currency(game.price)}
%br/
%br/
= paginate @games
