= form_for @message do |f|
  .clearfix
    = f.label :author, "Imię i nazwisko"
    .input= f.text_field :author, :class => "xlarge"
  .clearfix
    = f.label :email, "E-mail"
    .input= f.text_field :email, :class => "xlarge"
  .clearfix
    = f.label :subject, "Temat"
    .input= f.text_field :subject, :class => "xlarge"
  .clearfix
    = f.label :description, "Pytanie"
    .input= f.text_field :description, :class => "xlarge"
  .clearfix.actions
    = f.submit "Zapisz", :class => "btn primary"

