- for game in @games 
  .post
  %h2.title
    = link_to game.name, game_path(game)
    - unless game.product.pictures.blank?
      %br/
      = image_tag game.product.pictures.first.photo.url(:thumb)
    %p.tekst-1strona
      Cena: #{number_to_currency(game.price)}
      %br/
      Gatunek gry: #{game.game_type}
%br/
%br/
= paginate @games
