.post
  %h2.tekst-1strona
    = @game.name
    %br
    - unless @game.product.pictures.blank?
      = image_tag @game.product.pictures.first.photo.url(:small)
      %br
    Cena : 
    = @game.price
    zł
    %br
    Gatunek gry : 
    = @game.game_type
    %br
    Wydawca : 
    = @game.publisher
    %br
    Język wydania : 
    = @game.language
    %br
    Wiek graczy od 
    = @game.age_of_players_from
    %br
    Liczba graczy:
    - unless (@game.number_of_players.blank?)
      = @game.number_of_players
    - if (@game.number_of_players.blank?)    
      od 
      = @game.number_of_players_from
      do 
      = @game.number_of_players_to
    %br
    Instrukcja:
    = @game.instruction
    %br
    Czas gry: 
    - unless (@game.game_time.blank?)
      ok.
      = @game.game_time
    - if (@game.game_time.blank?)
      od 
      = @game.game_time_from
      do
      = @game.game_time_to    
    Opis : 
    = @game.description
    %br

-# czs gry w minutach???

%p
= link_to "Pokaż wszystkie gry", games_path
