.post
  %h2.tekst-1strona
    = @book.title
    %br/
    - unless @book.product.pictures.blank?
      = image_tag @book.product.pictures.first.photo.url(:small)
      %br/
    Autor: #{@book.author}
    %br/
    Język wydania: #{ @book.language}
    %br/
    - unless (@book.translation.blank?)
      Przekład: #{@book.translation} 
      %br/
    Wydawnictwo : 
    = link_to @book.publisher_book.name, publisher_book_path(@publisher_book) 
    %br/
    Rok wydania: #{@book.year_of_publishing}
    %br/
    Numer ISBN: #{ @book.isbn}
    %br/
    - unless @book.size.blank?
      Format: #{ @book.size} cm
      %br/
    Liczba stron: #{@book.number_of_pages}   
    %br/
    Rodzaj oprawy: #{@book.cover}
    %br/
    Cena: #{number_to_currency(@book.price)}
    %br/
    %br/ 
    = @book.description


%p
= link_to "Pokaż wszystkie książki", books_path
