.post
  %h2.tekst-1strona
    = @book.title
    %br
    - unless @book.product.pictures.blank?
      = image_tag @book.product.pictures.first.photo.url(:small)
      %br
    Autor:
    = @book.author
    %br
    Cena : 
    = @book.price
    zł
    %br
    Wydawnictwo : 
    = link_to @book.publisher_book.name, publisher_book_path(@publisher_book) 
    %br
    Język wydania : 
    = @book.language
    %br
    Wymiary :
    = @book.size
    %br
    Numer ISBN :
    = @book.isbn
    - unless (@book.translation.blank?)
      %br
      Tłumaczenie : 
      = @book.translation 
    %br
    Rok wydania :
    = @book.year_of_publishing
    %br
    Liczba stron :
    = @book.number_of_pages   
    %br
    Okładka : 
    = @book.cover
    %br
    Opis : 
    = @book.description


%p
= link_to "Pokaż wszystkie książki", books_path
