.post
  %h2.tekst-1strona
    = @book.title
    %br/
    - unless @book.product.pictures.blank?
      = image_tag @book.product.pictures.first.photo.url(:small)
      %br/
    Autor: #{@book.author}
    %br/
    język wydania: #{ @book.language}
    %br/
    - unless (@book.translation.blank?)
      przekład: #{@book.translation} 
      %br/
    Wydawnictwo : 
    = link_to @book.publisher_book.name, publisher_book_path(@publisher_book) 
    %br/
    rok wydania: #{@book.year_of_publishing}
    %br/
    numer ISBN: #{ @book.isbn}
    %br/
    - unless @book.size.blank?
      format: #{ @book.size} cm
      %br/
    liczba stron: #{@book.number_of_pages}   
    %br/
    rodzaj oprawy: #{@book.cover}
    %br/
    cena: #{number_to_currency(@book.price)}
    %br/
    %br/ 
    = @book.description


%p
= link_to "Pokaż wszystkie książki", books_path
