.post
  %h2.tekst-1strona
    = @accessory.name
    %br/
    - unless @accessory.product.pictures.blank?
      = image_tag @accessory.product.pictures.first.photo.url(:small)
      %br/
    Cena : 
    = number_to_currency(@accessory.price)
    %br/
    %br/
    = @accessory.description


%p
= link_to "Pokaż wszystkie akcesoria", accessories_path
