!!!5
-# plik na razie skopiowany z aktualnej strony mojej siostry
%html
  %head
    %title CDKiG
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Centrum Dobrej Książki i Gry
    %meta{:content => " ", :name => "keywords"}/
    %meta{:content => "Na łamach tej witryny odnajdziecie Państwo nie tylko opisy nowości wydawniczych czy wyszukacie edycje bibliofilskie. \r\nW Centrum Dobrej Ksiązki i Gry mozna równierz odnaleźć doskonałe pomysły na prezenty dla bliskich Wam osób czy kluczowych klientów i pracowników . Pamiętajmy iż upominki \r\nktórymi obdarowywujemy innych świadaczą o nas samych. Stąd odpowiednio dobrana książka czy gra planszowa mogą sprawić wiele radości bliskim a wśród obdarowywanych kontrachentów i \r\npracowników utrwali pozytywny wizerunek firmy równierz jako mecenasa kultury. Asortyment który oferujemy Państwu, to książki z najznakomitszych polskich wydawnictw, częstwo z głęgoko \r\nzakorzenioną tradycją i bogatą historią co czyni ofertę wyjątkową .", :name => "description"}/
  %body
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "1000"}
      %tr
        %td.ramka1
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "980"}
            %tr
              %td.baner1  
            %tr
              %td.baner2{:valign => "top"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "800"}
                  %tr
                    %td.menu--gora
                      = link_to "Strona główna", root_path
                    %td.menu--gora
                      = link_to "O firmie", about_company_path
                    %td.menu--gora
                      = link_to "Kontakt", contact_us_path
                    %td.menu--gora
                      = link_to "Współpraca", cooperation_path 

      %tr
        %td.ramka2{:valign => "top"}

          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "970"}
            %tr
              %td{:valign => "top", :width => "300"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "200"}
                  %tr
                    %dt 
                      %a{:href => "/books"} Książki
                      %dd
                        %a{:href => "/category_books"} Kategorie
                        %dd
                          - for category_book in CategoryBook.all
                            %h2.name
                              = link_to category_book.name, category_book_path(category_book)
                          %br
                        %a{:href => "/publisher_books"} Wydawnictwa
                        %dd
                          - for publisher_book in PublisherBook.all
                            %h2.name
                              = link_to publisher_book.name, publisher_book_path(publisher_book)
                      %dt
                        %a{:href => "/games"} Gry
                      %dd                       
                        - for category_game in CategoryGame.all
                          %h2.name
                            = link_to category_game.name, category_game_path(category_game)
                      %dt
                        %a{:href => "/accessories"} Akcesoria
                      %dd
                        - for category_accessory in CategoryAccessory.all
                          %h2.name
                            = link_to category_accessory.name, category_accessory_path(category_accessory)
              %td{:valign => "top", :width => "650"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "750"}
                  %tr
                    %td.ramka3-1  
                  %tr
                    %td.ramka3-2
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
                        %tr
                          %td.tekst-1strona
                            %p{:style => "font-weight: bold; font-size: 16px;"}
                              =yield 
                  %tr
                    %td.ramka3-3  
      %tr
        %td.ramka3  
    %p  

